/* reset css */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px=1rem */
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rufina', serif;
}

img {
  cursor: pointer;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #56A1FD;
  padding: 1.5rem 0;
  background: none;
}

.warpper {
  max-width: 192rem;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  align-items: center;
  /*  căn chiều cao y */
  justify-content: space-between;
  /* căn chiều ngang x*/
  margin: 1rem 0;
}

.header .logo-blog a {
  color: #2A2A2A;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav {
  display: flex;
}

.nav>li>a {
  /* dấu > nghĩa là chỉ định con trực tiếp chịu css */
  color: #000;
  text-transform: uppercase;
  /* viết hoa chỉ menu cấp 1*/
  padding: 1rem;
}

/* content */
.content {
  background: #F8F9FA;
}

.content .content__section {
  display: flex;
  padding: 1rem 0;
}

.content .content__list {
  display: flex;
  max-height: 30rem;
  min-width: 80rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.content .section__list {
  position: relative;
  padding: 1rem;
  width: 33.33333%;
}

.content .section__item {
  position: relative;
}

.content .section__item .section__img {
  width: 100%;
  height: 9rem;
  margin-bottom: 1.8rem;

}

.content .section__item .mid__img {
  width: 100%;
  height: 20rem;
}

.content .section__body {
  background-image: linear-gradient(transparent, gray, black);
  opacity: 0.7;
  color: #FFFFFF;
  margin-top: -8.9rem;
  padding: 2.5rem 1rem;
  display: none;
  position: absolute;
  width: 100%;
}

.content .section__item:hover .section__body {
  display: block;
}

/* post */
.posts {
  padding-bottom: 7rem;
}

.posts__heading {
  margin: 0 auto;
  max-width: 80rem;
  padding: 3rem 0 0 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #161616;
}

.posts .posts__section {
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 80rem;
}

.posts .posts__list {
  display: flex;
  max-height: 30rem;
  padding-top: 1rem;

}

.posts .section__list {
  padding: 1rem;
  width: 33.33333%;
}

.posts .section__img {
  width: 100%;
}

.posts .section__body {
  line-height: 1.4;
  padding: 1.5rem;
}

.posts .section__heading {
  line-height: 1.4;
  font-weight: bold;
  font-size: 1.6rem;
  color: #161616;
  padding-bottom: 1.5rem;
}

.posts .section__Carrol {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.posts .section__Carrol img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.posts .section__time {
  padding-left: 1rem;
  color: #ccc;
}

.section__time>.bold {
  color: #010101;
  font-weight: normal;
}

hr {
  padding-top: 3rem;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  max-width: 80rem;
}

.pagination {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pagination a {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  color: #333;
  border-radius: 4px;
  position: relative;
}

.pagination a.active {
  margin-right: -1rem;
  color: #333;
}

.pagination .dots {
  margin: 0 -0.8rem 0 1.2rem;
  font-weight: bold;
}

.pagination a[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #007BFF;
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* . */
.content .biggest__left {
  width: 60%;
  padding-right: 1rem;
}

.content .biggest__right {
  width: 40%;
  padding-left: 1rem;
}

.biggest__left--bottom {
  display: flex;
  width: 100%;
}

.biggest__list {
  width: 50%;
}

.biggest__img {
  width: 40%;
}

.biggest__list--right {
  margin-right: 2rem;
}

.content .biggest__body {
  margin-top: -9.9rem;
}

/* . */
.subscribe {
  margin: 3rem 0;
  text-align: center;
}

.subscribe h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.subscribe p {
  margin-bottom: 2rem;
  line-height: 1.4;
  color: #737373;
}

.subscribe span {
  display: block;
}

.subscribe__input {
  max-width: 27rem;
  margin: 0 auto;
  display: flex;
}

.subscribe__input input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.btn__subscribe {
  background-color: #3089FC;
  color: #E3EDFE;
  padding: 0.5rem;
  cursor: pointer;
}

/* footer */
.footer {
  padding-top: 3rem;
  background-color: #333333;
}

.footer__section--top {
  display: flex;
}

.footer__section {
  max-width: 80rem;
  margin: 0 auto;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  
}

.footer__list {
  width: 33.33333%;
}

.footer__list h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.footer .footer__list--icon {
  padding-right: 1rem;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
}

.footer__menu li {
  margin-bottom: 1rem;
}

.footer .footer__list a {
  color: #ccc;
}

.footer .footer__section--bottom {
  padding: 5rem 0;
  color: #ccc;
  display: flex;
  justify-content: center;
}

.footer .icon__heart {
  color: #F23A2F;
}

/* reponsive */
/* Kích thước mobile: min-width: 320px and max-width: 767px
Kích thước tablet: min-width: 768px and max-width: 991px
Kích thước desktop: min-width: 992px trở  lên */

